doctype html
html
  head
  title Kloak Platform
  meta(charset = 'utf-8')
  meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale = 1, user-scalable = no")
  link(rel = "stylesheet", href = "/css/main.css")

  canvas(id="line-chart" width="800" height="450")

  script(, type="text/javascript", src="./js/Chart.bundle.min.js")
  script(type="text/javascript", src="./js/main.js")
